@charset "utf-8";
html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
li {
  list-style: none;
}
.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Noto Serif JP', serif;
}
.key h1{
  font-size: 2.5rem;;
  padding: 80px 10%;
  justify-content: center;
}
.key p {
  font-size: 1.5rem;
  padding: 0 10%;
  justify-content: center;
}
.section_inner {
  padding: 50px 10% 30px;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  text-align: center;
  margin-bottom: 50px;
}
.concept_content {
  width: 60%;
  text-align: left;
}
.concept_image {
  width: 35%;
  height: 300px;
}
.concept_inner {
  display: flex;
  background: #fff;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0, 0, 0, .6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
}
.info_title {
  width: 80px;
}
.info {
  display: flex;
}
.frame_child {
  width: 100%;
  height: 100%
}
.footer {
  width: 100%;
  background: #251e19;
  position: absolute;
  bottom: -75px;
  padding-bottom: 10px;
  height: 75px;
}
.footer_nav {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
.footer_nav_item {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
}
.footer_logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.footer_right {
  color: white;
  text-align: center;
  font-size: 10px;
  flex-direction: row;
  justify-content: center;
}
